body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
table {
    width: fit-content;
    max-width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}
th {
    background-color: #4c74af;
    color: white;
}
tr:nth-child(even) {
    background-color: #e6f2ff;
}
tr:hover {
    background-color: #f5f5f5;
}
.actions a {
    text-decoration: none;
    color: #0066cc;
    margin-right: 10px;
}
.actions a {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
}

.actions a:hover {
    color: #666;
}

.navbar {
    background: linear-gradient(90deg, #4c74af, #3e66eb);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.navbar-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.navbar-list li {
    margin: 0 10px;
}

.navbar-list a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-list a:hover {
    color: #e6f2ff;
}

.content {
    padding: 20px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #4c74af;
    color: white;
    border-top: 1px solid #ddd;
}

.footer a {
    color: #e6f2ff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.active {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

section {
    margin-top: 20px;
}
.paid-icon {
    width: 50px;
    height: 20px;
    vertical-align: middle;
    margin-left: 1px;
}

.automatic-icon {
    width: 50px;
    height: 10px;
    vertical-align: middle;
    margin-left: 1px;
}

.payday-icon {
    width: 40px;
    height: 30px;
    vertical-align: middle;
    margin-left: 1px;
}

.nav-buttons {
    margin: 2px 0;
    float: right;
    text-align: center;
}
  
.nav-btn {
    display: inline-block;
    padding: 5px 5px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 12px;
}
  
.nav-btn:hover {
    background-color: #555;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;  /* Space between form groups */
}

.label-text {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #333;
    margin-right: 5px;  /* Space between label and input */
    margin-left: 5px;  /* Space between label and input */
    margin-bottom: 5px;  /* Space between label and input */
    margin-top: 5px;  /* Space between label and input */
    min-width: 120px;    /* Adjust based on your longest label */
    display: block;
}

input, select {
    flex: 1;             /* Allow input to grow */
    padding: 2px;        /* Optional: for better input appearance */
    margin-top: 5px;  /* Space between label and input */
}

:required {
    border: 2px solid red;
}

/* .alert */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* .alert-danger */
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.error-message {
    background-color: #fce4e4;  /* Light red/pink background */
    border: 1px solid #cd1013;  /* Slightly darker border */
    color: #cc0033;             /* Dark red text color */
    display: none;
    font-size: 12px;
    line-height: 15px;
    padding: 20px 30px;
    margin: 5px 0 0;
    float: left;
}

.error {
  color: #cc0033;             /* Dark red text color */
  background-color: #fce4e4;  /* Light red/pink background */
  border: 1px solid #fcc2c3;  /* Slightly darker border */
  font-size: 12px;
  padding: 10px;
  margin-top: 5px;
  display: inline-block;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

 .modal-content {
    background-color: #f0f8ff;  /* Light Alice Blue background */
    margin: 10% auto;       /* Adjusted margin */
    padding: 20px;
    border: 1px solid #87ceeb; /* Light Sky Blue border */
    width: 40%;             /* Reduced width */
    border-radius: 8px;      /* Rounded corners */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Added shadow */
    animation: fadeIn 0.3s ease;  /*Added fade animation */
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(121, 113, 234);
    text-decoration: none;
    cursor: pointer;
}

.modal-buttons {
    margin: 2px 0;
    float: right;
    text-align: center;
}
  
.modal-btn {
    display: inline-block;
    padding: 5px 5px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 12px;
}
  
.modal-btn:hover {
    background-color: #555;
}