<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Bill</title>
</head>
<body>
    <h1>Add New Bill</h1>
    <table>
    <form method="POST">
        <tr><th>
        <label for="name">Bill Name:</label>
        </th><td>
        <input type="text" id="name" name="name" required><br><br>
        </td>
        
        <tr><th>
        <label for="amount">Amount:</label>
        </th><td>
        <input type="number" id="amount" name="amount" step="0.01" required><br><br>
        </td>
        
        <tr><th>
        <label for="due_date">Due Date:</label>
        </th><td>
        <input type="text" id="due_date" name="due_date" required><br><br>
        </td>
        
        <tr><th>
        <label for="is_automatic">Automatic Payment:</label>
        </th><td>
        <input type="checkbox" id="is_automatic" name="is_automatic"><br><br>
        </td>
        
        <tr><th colspan="2">
        <input type="submit" value="Add Bill">
        </th>
    </form>
    </table>
    <a href="{{ url_for('bills') }}">Back to Home</a>
</body>
</html>

