<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
{% extends "base.html" %}

{% block content %}
{% set running_balance = total %}
{% set total_bills = 0 %}
{% set one_day = timedelta(days=1) %}
{% set current_date = start_period %}
{% set date_str = current_date.strftime('%Y-%m-%d') %}

<h1>Current Bills Due</h1>
<table id="current-bills">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Due Date</th>
      <th>Date Paid</th>
      <th>Amount Paid</th>
      <th>Balance</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Starting Balance</th>
      <th>{{ total }}</th>
      <th></th>
      <th></th>
      <th></th>
      <th>{{ total }}</th>
      <th></th>
    </tr>
  {% for day_offset in range((end_period - start_period).days + 1) %}
    {% set date_str = (start_period + timedelta(days=day_offset)).strftime('%Y-%m-%d') %}
    {% for bill in bills|sort(attribute='due_date') %}
      {% set bill_due = (start_period + timedelta(days=day_offset)).strftime('%Y-%m-%d') %}
      {% if bill_due == date_str %}
        {% if bill.amount > 0 %}
        {% set running_balance = running_balance - bill.amount %}
        <tr>
        <td>{{ bill.name }}
            {% if bill.is_automatic %}
                  <img src="{{ url_for('static', filename='images/automatic_word.png') }}" alt="Autopay" class="automatic-icon">
            {% endif %}
        </td>
        <td>${{ "%.2f"|format(bill.amount) }}</td>
        <td>{{ bill.formatted_due_date }}</td>
        <td>
          <form method="POST" action="{{ url_for('current_bills') }}">
            <input type="hidden" name="bill_id" value="{{ bill.id }}">
            <input type="hidden" name="full_due_date" value="{{ bill.formatted_due_date }}">
            {% if bill.is_automatic %}
              {{ bill.formatted_due_date }}
              <input type="hidden" name="date_paid" value="{{ bill.formatted_due_date }}">
            {% else %}
              {% if bill.date_paid %}
                {{ bill.date_paid }}
                <input type="hidden" name="date_paid" value="{{ bill.date_paid }}">
              {% endif %}
            {% endif %}
            </td>
            <td>
                {% if bill.is_automatic %}
                  ${{ "%.2f"|format(bill.amount) }}
                  <input type="hidden" name="amount_paid" value="{{ bill.amount }}">
                {% else %}
                  {% if bill.amount_paid %}
                    ${{ "%.2f"|format(bill.amount) }}
                    <input type="hidden" name="amount_paid" value="{{ bill.amount_paid }}">
                  {% else %}
                    <input type="number" step="0.01" name="amount_paid" value="{{ "%.2f"|format(bill.amount) }}" onfocus="this.value=''" required>
                  {% endif %}
                {% endif %}
            </td>
            <td>${{ "%.2f"|format(running_balance) }}</td>
            <td>
            {% if bill.date_paid or bill.is_automatic %}
              <img src="{{ url_for('static', filename='images/sm_red_paid.jpg') }}" alt="Paid" class="paid-icon">
            {% else %}
              <button type="submit">Pay</button>
            {% endif %}
            </td>
        </form>
      </tr>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% for income in incomes %}
      {% if income.date == date_str %}
        <tr>
        <td>{{ income.name }}</td>
        <td>${{ "%.2f"|format(income.amount) }}</td>
        <td>{{ current_date }}</td>
        <td>{{ current_date }}</td>
        <td>${{ "%.2f"|format(income.amount) }}</td>
        <td>${{ "%.2f"|format(running_balance + income.amount) }}</td>
        <td></td>
        </tr>
        {% set running_balance = running_balance + income.amount %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  <tr id="total-row">
    <td><strong>Total Bills</strong></td>
    <td colspan="5" id="total-amount"></td>
    <td></td>
  </tr>
  </tbody>
</table>
{% endblock %}