<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
{% extends "base.html" %}

{% block content %}
{% set running_balance = total %}
{% set total_bills = 0 %}
{% set one_day = timedelta(days=1) %}
{% set current_date = start_period %}

<h1>Current Bills Due</h1>
<table id="current-bills">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Due Date</th>
      <th>Date Paid</th>
      <th>Amount Paid</th>
      <th>Balance</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Starting Balance</th>
      <th>{{ total }}</th>
      <th></th>
      <th></th>
      <th></th>
      <th>{{ total }}</th>
      <th></th>
    </tr>
  {% while current_date <= period_end %}
    {% set date_str = current_date.strftime('%Y-%m-%d') %}
    {% set has_entry = false %}
    {% for bill in bills|sort(attribute='due_date') %}
      {% if bill.due_date.strftime('%Y-%m-%d') == date_str %}
        {% set has_entry = true %}
        {% set running_balance = running_balance - bill.amount %}
        {% if bill.amount > 0 %}
        <tr>
        <td>{{ bill.name }}
            {% if bill.is_automatic %}
                  <img src="{{ url_for('static', filename='images/automatic_word.png') }}" alt="Autopay" class="automatic-icon">
            {% endif %}
        </td>
        <td>${{ "%.2f"|format(bill.amount) }}</td>
        <td>{{ bill.formatted_due_date }}</td>
        <td>
          <form method="POST" action="{{ url_for('current_bills') }}">
            <input type="hidden" name="bill_id" value="{{ bill.id }}">
            <input type="hidden" name="full_due_date" value="{{ bill.formatted_due_date }}">
            {% if bill.is_automatic %}
              {{ bill.formatted_due_date }}
              <input type="hidden" name="date_paid" value="{{ bill.formatted_due_date }}">
            {% else %}
              {% if bill.date_paid %}
                {{ bill.date_paid }}
                <input type="hidden" name="date_paid" value="{{ bill.date_paid }}">
              {% endif %}
            {% endif %}
            </td>
            <td>
                {% if bill.is_automatic %}
                  ${{ "%.2f"|format(bill.amount) }}
                  <input type="hidden" name="amount_paid" value="{{ bill.amount }}">
                {% else %}
                  {% if bill.amount_paid %}
                    ${{ "%.2f"|format(bill.amount) }}
                    <input type="hidden" name="amount_paid" value="{{ bill.amount_paid }}">
                  {% else %}
                    <input type="number" step="0.01" name="amount_paid" value="{{ "%.2f"|format(bill.amount) }}" onfocus="this.value=''" required>
                  {% endif %}
                {% endif %}
            </td>
            <td>
            {% if bill.date_paid or bill.is_automatic %}
              <img src="{{ url_for('static', filename='images/sm_red_paid.jpg') }}" alt="Paid" class="paid-icon">
            {% else %}
              <button type="submit">Pay</button>
            {% endif %}
            </td>
        </form>
      </tr>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% for income in incomes %}
      {% if income.date.strftime('%Y-%m-%d') == date_str %}
        <tr>
        <td>{{ bill.name }}</td>
        <td>${{ "%.2f"|format(income.amount) }}</td>
        <td>{{ current_date }}</td>
        <td>{{ current_date }}</td>
        <td>${{ "%.2f"|format(income.amount) }}</td>
        <td>{% running_balance = running_balance + income.amount %} {{ running_balance }} </td>
        <td></td>
        </tr>
      {% endif %}
    {% endfor %}
    {% set current_date = current_date + one_day %}
  {% endwhile %}

         <tr id="total-row">
        <td><strong>Total Bills</strong></td>
        <td colspan="5" id="total-amount"></td>
      </tr>
      </td></tr>
    </tbody>
</table>
<script>
    function calculateTotalBills() {
        const billTable = document.getElementById('current-bills');
        const amounts = billTable.querySelectorAll('tr:not(#total-row) td:nth-child(2)');
        let total = 0;
        amounts.forEach(cell => {
            total += parseFloat(cell.textContent.replace('$', '').replace(',', ''));
        });
        const totalRow = billTable.querySelector('#total-row');
        if (!totalRow) {
            const newRow = billTable.insertRow(-1);
            newRow.id = 'total-row';
            newRow.innerHTML = '<td colspan="2"><strong>Total</strong></td><td id="total-amount"></td>';
        }
        billTable.querySelector('#total-amount').textContent = '$' + total.toFixed(2);
    }
    window.onload = calculateTotalBills;
</script>
{% endblock %}

</body>
</html>
