<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
  <table id="current-bills">
  <thead>
    <tr>
    <th colspan="2">Edit Bill</th>
    </tr>
    <tr>
    <th>
    <form method="POST" action="{{ url_for('edit_bill', id=bill.id)}}" id="billForm">
        <label for="name">Bill Name:</label>
    </th><td>
        <input type="text" id="name" name="name" value="{{ bill.name }}" required><br><br>
    </td>
        
    <tr><th>
      <label for="amount">Amount:</label>
    </th><td>
      <input type="number" id="amount" name="amount" step="0.01" value="{{ bill.amount }}" required><br><br>
    </td>
        
    <tr><th>
      <label for="due_date">Due Day: {{ bill.due_date }}</label>
    </th><td>
    <select id="due_date" name="due_date" required>
        {% for day in range(1, 29) %}
            <option value="{{ day }}" {% if day == bill_due_date %}selected{% endif %}>
                {{ day }}{% if day == 1 %}st{% elif day == 2 %}nd{% elif day == 3 %}rd{% else %}th{% endif %}
            </option>
        {% endfor %}
    </select>
    </td>

    <tr>
  <th>
    <label for="frequency">Frequency: {{ bill.frequency }}</label>
  </th>
  <td>
    <select id="frequency" name="frequency" required>
      <option value="monthly" {% if "monthly" == bill.frequency %}selected{% endif %}>Monthly</option>
      <option value="weekly" {% if "weekly" == bill.frequency %}selected{% endif %}>Weekly</option>
      <option value="bi-weekly" {% if "bi-weekly" == bill.frequency %}selected{% endif %}>Bi-Weekly</option>
      <option value="semi-anually" {% if "semi-anually" == bill.frequency %}selected{% endif %}>Semi-Anually</option>
      <option value="Anually" {% if "anually" == bill.frequency %}selected{% endif %}>Anually</option>
    </select>
  </td>
</tr>

<tr>
  <th>
    <label for="category">Category: ({{bill.category}})</label>
  </th>
  <td>
    <select id="category" name="category" required>
      <option value="Miscellaneous" {% if "Miscellaneous" == bill.category %}selected{% endif %}>Miscellaneous</option>
      <option value="Mortgage" {% if "Mortgage" == bill.category %}selected{% endif %}>Mortgage</option>
      <option value="Groceries" {% if "Groceries" == bill.category %}selected{% endif %}>Groceries</option>
      <option value="Subscription" {% if "Subscription" == bill.category %}selected{% endif %}>Subscription</option>
      <option value="Insurance" {% if "Insurance" == bill.category %}selected{% endif %}>Insurance</option>
      <option value="Utilities" {% if "Utilities" == bill.category %}selected{% endif %}>Utilities</option>
      <option value="CreditCard" {% if "CreditCard" == bill.category %}selected{% endif %}>Credit Card</option>
      <option value="Loan" {% if "Loan" == bill.category %}selected{% endif %}>Loan</option>
      <option value="HealthCare" {% if "HealthCare" == bill.category %}selected{% endif %}>Health Care</option>
      <option value="Pets" {% if "Pets" == bill.category %}selected{% endif %}>Pets</option>
    </select><br><br>
  </td>
</tr>

    <tr><th>
      <label for="interest_rate">Interest Rate:</label>
    </th><td>
      <input type="number" id="interest_rate" name="interest_rate" step="0.01" value="{{ bill.interest_rate }}" required><br><br>
    </td>
        
    <tr><th>
      <label for="balance">Current Balance:</label>
    </th><td>
      <input type="number" id="balance" name="balance" step="0.01" value="{{ bill.balance }}" required><br><br>
    </td>

    <tr><th>
      <label for="is_automatic">Automatic Payment:</label>
    </th><td>
      <input type="checkbox" id="is_automatic" name="is_automatic" {% if bill.is_automatic %}checked{% endif %}><br><br>
    </td>
        
    <tr><th colspan="2">
        <input type="submit" value="Update Bill">
    </th>
    </tr>
    </form>
    </table>
</body>
</html>
<script>
    function displayError(fieldId, message) {
    const field = document.getElementById(fieldId);
    const errorBox = document.getElementById('DisplayError')
    errorBox.style.display = 'block';
    errorBox.textContent = message;
    field.classList.add('error');
}

function clearError(fieldId) {
    const field = document.getElementById(fieldId);
    const errorBox = document.getElementById('DisplayError')
    //errorSpan.textContent = '';
    //errorSpan.style.display = 'none';
    errorBox.style.display = 'none';
    errorBox.textContent = '';
    field.classList.remove('error');
}

function validateForm() {
    let isValid = true;
    const name = document.getElementById('name').value.trim();
    const amount = document.getElementById('amount').value.trim();
    var due_date = document.getElementById('due_date').value;

    console.log("Freq type " + frequency)
    if (name === '') {
        console.log("name is empty")
        displayError('name', 'A Name for the income is required');
        return false;
    }

    if (amount === '' || isNaN(parseFloat(amount))) {
        displayError('amount', 'A valid amount is required');
        return false;
    }

    if (due_date === '') {
        displayError('due_date', 'A valid due date is required');
        return false;
    }

    if (category === '') {
        displayError('category', 'A category is required');
        return false;
    }

    return isValid;
}
</script>

</body>
</html>
{% endblock %}
